<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #print {
      border: 1px solid #888;
      max-height: 5em;
      overflow-y: auto;
    }
  </style>
  <script src="../index.js"></script>
</head>
<body>
  <h1>Path of Diablo - Edit Swap</h1>
  <button type="button" class="btn-to-original">To Original</button>
  <label for="chk_openUdietoo"><input type="checkbox" id="chk_openUdietoo" checked> UdieToo Auto Open</label>  <br/>
  <button type="button" class="btn-to-pod">To POD Mod</button>
  <label for="chk_copyZod"><input type="checkbox" id="chk_copyZod" checked> Zod Character Auto Copy</label>
  <p id="print"></p>
</body>
</html>